vendor
composer.lock
var/config/installer.ini.php
var/config/installer.bak.ini.php
var/config/liveconfig.ini.php
var/config/localconfig.ini.php
var/config/localurls.xml
var/config/profiles.ini.php
var/log/*
!var/log/.dummy
var/uploads/*
!var/uploads/.dummy
var/mails/*
!var/mails/.dummy
temp/*
!temp/.dummy
.env
