<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="news@.jelix.org" name="news">
        <version date="2024-04-28">2.0.0-pre</version>
        <label lang="en_US">News module</label>
        <description lang="en_US"></description>
        <license>MIT</license>
        <copyright>2019-2024 Laurent Jouanneau</copyright>
    </info>
    <dependencies>
        <jelix minversion="1.7.0" maxversion="1.8.*"/>
    </dependencies>
</module>
