;<?php die(''); ?>
;for security reasons, don't remove or modify the first line

[jdb]
default=test

[jdb:test]
driver=pgsql
host=pgsql
database=newsmodule
user=usertest
password="test1234"
persistent= on
force_encoding = on
